@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  &__image {
    margin: 0 auto;
  }
}
