@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  &__wrapper {
    width: 289px;
    height: 250px;
  }
  &__text {
    background-color: white;
    height: 177px;
  }
}
