@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.feature {
  background-color: #ececed;
  padding: 3rem 6rem;

  &__title {
    padding-bottom: 2rem;
    font-size: 25px;
    color: #021b41;
  }

  &__text {
    padding-bottom: 3rem;
    font-size: 18px;
    color: #021b41;
  }
  &__price {
    color: #ce2110;
  }

  &__container {
    display: flex;
    gap: 8px;
    width: 100%;
  }
}
